name: Dependency Review Reusable Workflow

on:
  pull_request:
    branches:
      - "**"

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest-codeql
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Dependency Review
        uses: actions/dependency-review-action@v4.8.2
        with:
          fail-on-severity: high
          fail-on-scopes:   runtime
          vulnerability-check: true
          license-check:    false
          comment-summary-in-pr: true
          show-openssf-scorecard: false
