name: Dependency Review Reusable Workflow

on:
  workflow_call:
    inputs:
      runner:
        required: false
        type: string
        default: ubuntu-latest-codeql
        description: A specific runner to use for the job.

      fail-on-severity:
        required: false
        type: string
        default: high     # low | moderate | high | critical

      fail-on-scopes:
        required: false
        type: string
        default: runtime  # runtime | development | all

      license-check:
        required: false
        type: boolean
        default: false

      openssf-check:
        required: false
        type: boolean
        default: false

      comment-summary:
        required: false
        type: boolean
        default: true

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Dependency Review
        uses: actions/dependency-review-action@v4.8.2
        with:
          fail-on-severity: ${{ inputs.fail-on-severity }}
          fail-on-scopes:   ${{ inputs.fail-on-scopes }}
          vulnerability-check: true
          license-check:    ${{ inputs.license-check }}
          comment-summary-in-pr: ${{ inputs.comment-summary }}
          show-openssf-scorecard: ${{ inputs.openssf-check }}
